// widget header
.widget {
    margin-bottom: $s-padding;
}

.widget__start-message {
    color: black;
    background-color: springgreen;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0.2rem;
}

.widget-header {
    color: $dark-gray;
    margin-bottom: $s-padding;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.widget-header__title {
    margin: 0;
    color: $black;
    font-size: 2.4rem;
}