html {
    font-size: 62.5%;  // set rem in a base 10 system (1rem = 10px)
    background-color: $light-gray;
    color: $black;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

button {
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid black;
    color: red;
}

button:disabled {
    cursor: not-allowed;
}

.topContainer {
    width: calc(100% - 40px);
    height: $block-size;
    border: $block-style;
    margin: $block-margin;
    position: absolute;
}

.leftContainerOne {
    width: $block-size;
    height: calc(100vh - 40px);
    border: $block-style;
    margin: $block-margin;
    position: absolute;
    border-bottom: 0;

}

.leftContainerTwo {
    width: $block-size;
    height: calc(100vh - 40px);
    border: $block-style;
    margin: $block-margin;
    position: fixed;
    border-top: 0;
}