// colors
$light-gray: #EAEAEA;
$dark-gray: #7B7B7B;
$black: black;

// font size
$xxl-font-size: 6.4rem;
$xl-font-size: 3.8rem;
$l-font-size: 4rem;
$m-font-size: 2.4rem;
$s-font-size: 1.6rem;

// containers
$block-size: 64px;
$block-style: 1px black solid;
$block-margin: 20px;

// padding
$l-padding: 124px;
$s-padding: 40px;
$xs-padding: 0.2rem;


// buttons
$buttons-padding: 1.6rem 4.8rem;
